# Ignore environment files
.env
.env.*

# Ignore DDEV configuration
.ddev/

# Ignore Craft storage (logs, caches)
storage/

# Ignore Composer dependencies (installed separately)
vendor/

# Allow the uploads folder but ignore everything inside
web/uploads/*
!web/uploads/.gitkeep


# Ignore Craft Control Panel resources
web/cpresources/

# Ignore Node.js dependencies (if applicable)
node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE configuration files
.vscode/
.idea/

#ignore config/project folder
config/project/*
