<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bethesda Ministry{% endblock %}</title>
    <link rel="stylesheet" href="/css/main.css"> {# Add CSS file #}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ siteUrl('sermons') }}">Sermons</a></li>
                <li><a href="{{ siteUrl('articles') }}">Articles</a></li>
                <li><a href="{{ siteUrl('prayer-room') }}">Prayer Room</a></li>
                <li><a href="{{ siteUrl('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Bethesda Ministry</p>
    </footer>
</body>
</html>
