{% extends "_layout.twig" %}

{% block content %}
  <section class="membership-section">
    <h1>Payment Cancelled</h1>
    <p>Your subscription was not completed. If this was a mistake, please try again.</p>
    <a href="{{ url('membership') }}" class="button">Try Again</a>
  </section>
{% endblock %}
