{% extends "_layout.twig" %}

{% block content %}
  <section class="membership-success">
    <h1>Thank you for becoming a member!</h1>
    <p>Your subscription was successful. We’ll contact you soon.</p>
  </section>
{% endblock %}
